<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid fs-4 px-5 mb-5" th:fragment="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Article Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="align-self: flex-end;flex-grow: unset">
                <ul class="navbar-nav" >
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}" style="align-self: flex-end">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container w-75">
    <a type="button" class="btn btn-outline-primary" th:href="@{/getAddArticlePage}">Create New Article</a>
    <a type="button" class="btn btn-outline-primary" th:href="@{/initArticle}">Add test Data</a>
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">TITLE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">IMAGE</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <th scope="row" th:text="${article.id}">1</th>
            <td th:text="${article.title}">Mark</td>
            <td th:text="${article.description}">Otto</td>
            <td>
                <img th:src="@{${article.getPicturePath()}}" style="max-width: 150px;max-height: 150px;"/> </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                <a type="button" class="btn btn-success mx-2" th:href="@{/getViewArticlePage(title=${article.title},description = ${article.description})}">View</a>
                <a type="button" class="btn btn-danger mx-2" th:href="@{/getEditArticlePage(editTitle=${article.title},editDescription = ${article.description},editPicture=${article.picture})}">Edit</a>
                <a type="button" class="btn btn-warning mx-2" th:href="@{/deleteArticle/{id}(id = ${article.id})}">Delete</a>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>